/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold; }

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix,
.cf {
  zoom: 1; }
  .clearfix:before, .clearfix:after,
  .cf:before,
  .cf:after {
    content: "";
    display: table; }
  .clearfix:after,
  .cf:after {
    clear: both; }

/**
  * Border Box everything
  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: Font_0;
  src: url("./assets/fonts/Font_0.ttf"); }

@font-face {
  font-family: Font_1;
  src: url("./assets/fonts/Font_1.ttf"); }

@font-face {
  font-family: Font_2;
  src: url("./assets/fonts/Font_2.ttf"); }

@font-face {
  font-family: Font_3;
  src: url("./assets/fonts/Font_3.ttf"); }

@font-face {
  font-family: Font_4;
  src: url("./assets/fonts/Font_4.ttf"); }

@font-face {
  font-family: Font_5;
  src: url("./assets/fonts/Font_5.ttf"); }

@font-face {
  font-family: Font_6;
  src: url("./assets/fonts/Font_6.ttf"); }

@font-face {
  font-family: Font_7;
  src: url("./assets/fonts/Font_7.ttf"); }

@font-face {
  font-family: Font_8;
  src: url("./assets/fonts/Font_8.ttf"); }

@font-face {
  font-family: Font_9;
  src: url("./assets/fonts/Font_9.ttf"); }

@font-face {
  font-family: Font_10;
  src: url("./assets/fonts/Font_10.ttf"); }

@font-face {
  font-family: Font_11;
  src: url("./assets/fonts/Font_11.ttf"); }

@font-face {
  font-family: Font_12;
  src: url("./assets/fonts/Font_12.ttf"); }

@font-face {
  font-family: Font_13;
  src: url("./assets/fonts/Font_13.ttf"); }

@font-face {
  font-family: Font_14;
  src: url("./assets/fonts/Font_14.ttf"); }

@font-face {
  font-family: Font_15;
  src: url("./assets/fonts/Font_15.ttf"); }

@font-face {
  font-family: Font_16;
  src: url("./assets/fonts/Font_16.ttf"); }

@font-face {
  font-family: Font_17;
  src: url("./assets/fonts/Font_17.ttf"); }

@font-face {
  font-family: Font_18;
  src: url("./assets/fonts/Font_18.ttf"); }

@font-face {
  font-family: Font_19;
  src: url("./assets/fonts/Font_19.ttf"); }

@font-face {
  font-family: Font_20;
  src: url("./assets/fonts/Font_20.ttf"); }

@font-face {
  font-family: Font_21;
  src: url("./assets/fonts/Font_21.ttf"); }

@font-face {
  font-family: Font_22;
  src: url("./assets/fonts/Font_22.ttf"); }

@font-face {
  font-family: Font_23;
  src: url("./assets/fonts/Font_23.ttf"); }

@font-face {
  font-family: Font_24;
  src: url("./assets/fonts/Font_24.ttf"); }

@font-face {
  font-family: Font_25;
  src: url("./assets/fonts/Font_25.ttf"); }

@font-face {
  font-family: Font_26;
  src: url("./assets/fonts/Font_26.ttf"); }

@font-face {
  font-family: Font_27;
  src: url("./assets/fonts/Font_27.ttf"); }

@font-face {
  font-family: Font_28;
  src: url("./assets/fonts/Font_28.ttf"); }

@font-face {
  font-family: Font_29;
  src: url("./assets/fonts/Font_29.ttf"); }

@font-face {
  font-family: Font_30;
  src: url("./assets/fonts/Font_30.ttf"); }

@font-face {
  font-family: Font_31;
  src: url("./assets/fonts/Font_31.ttf"); }

@font-face {
  font-family: Font_32;
  src: url("./assets/fonts/Font_32.ttf"); }

@font-face {
  font-family: Font_33;
  src: url("./assets/fonts/Font_33.ttf"); }

@font-face {
  font-family: Font_34;
  src: url("./assets/fonts/Font_34.ttf"); }

@font-face {
  font-family: Font_35;
  src: url("./assets/fonts/Font_35.ttf"); }

@font-face {
  font-family: Font_36;
  src: url("./assets/fonts/Font_36.ttf"); }

@font-face {
  font-family: Font_37;
  src: url("./assets/fonts/Font_37.ttf"); }

@font-face {
  font-family: Font_38;
  src: url("./assets/fonts/Font_38.ttf"); }

@font-face {
  font-family: Font_39;
  src: url("./assets/fonts/Font_39.ttf"); }

@font-face {
  font-family: Font_40;
  src: url("./assets/fonts/Font_40.ttf"); }

@font-face {
  font-family: Font_41;
  src: url("./assets/fonts/Font_41.ttf") format("truetype"); }

@font-face {
  font-family: Font_42;
  src: url("./assets/fonts/Font_42.ttf"); }

@font-face {
  font-family: Font_43;
  src: url("./assets/fonts/Font_43.ttf"); }

@font-face {
  font-family: Font_44;
  src: url("./assets/fonts/Font_44.ttf"); }

@font-face {
  font-family: Font_45;
  src: url("./assets/fonts/Font_45.ttf"); }

@font-face {
  font-family: Font_46;
  src: url("./assets/fonts/Font_46.ttf"); }

@font-face {
  font-family: Font_47;
  src: url("./assets/fonts/Font_47.ttf"); }

@font-face {
  font-family: Font_48;
  src: url("./assets/fonts/Font_48.ttf"); }

@font-face {
  font-family: Font_49;
  src: url("./assets/fonts/Font_49.ttf"); }

.font0 {
  font-family: Font_0; }

.font1 {
  font-family: Font_1; }

.font2 {
  font-family: Font_2; }

.font3 {
  font-family: Font_3; }

.font4 {
  font-family: Font_4; }

.font5 {
  font-family: Font_5; }

.font6 {
  font-family: Font_6; }

.font7 {
  font-family: Font_7; }

.font8 {
  font-family: Font_8; }

.font9 {
  font-family: Font_9; }

.font10 {
  font-family: Font_10; }

.font11 {
  font-family: Font_11; }

.font12 {
  font-family: Font_12; }

.font13 {
  font-family: Font_13; }

.font14 {
  font-family: Font_14; }

.font15 {
  font-family: Font_15; }

.font16 {
  font-family: Font_16; }

.font17 {
  font-family: Font_17; }

.font18 {
  font-family: Font_18; }

.font19 {
  font-family: Font_19; }

.font20 {
  font-family: Font_20; }

.font21 {
  font-family: Font_21; }

.font22 {
  font-family: Font_22; }

.font23 {
  font-family: Font_23; }

.font24 {
  font-family: Font_24; }

.font25 {
  font-family: Font_25; }

.font26 {
  font-family: Font_26; }

.font27 {
  font-family: Font_27; }

.font28 {
  font-family: Font_28; }

.font29 {
  font-family: Font_29; }

.font30 {
  font-family: Font_30; }

.font31 {
  font-family: Font_31; }

.font32 {
  font-family: Font_32; }

.font33 {
  font-family: Font_33; }

.font34 {
  font-family: Font_34; }

.font35 {
  font-family: Font_35; }

.font36 {
  font-family: Font_36; }

.font37 {
  font-family: Font_37; }

.font38 {
  font-family: font_38; }

.font39 {
  font-family: Font_39; }

.font40 {
  font-family: Font_40; }

.font41 {
  font-family: Font_41; }

.font42 {
  font-family: Font_42; }

.font43 {
  font-family: Font_43; }

.font44 {
  font-family: Font_44; }

.font45 {
  font-family: Font_45; }

.font46 {
  font-family: Font_46; }

.font47 {
  font-family: Font_47; }

.font48 {
  font-family: Font_48; }

.font49 {
  font-family: Font_49; }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p,
a,
.a {
  font-family: "Gudea", sans-serif;
  color: #333333; }

h1,
.h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px; }

.h4 {
  font-weight: 700; }

p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 16px; }

@media (max-width: 999px) {
  h1,
  .h1 {
    font-size: 24px;
    line-height: 24px; }
  h6,
  .h6 {
    font-size: 10px; }
  p {
    line-height: 20px;
    font-size: 12px; } }

.header {
  max-width: 350px;
  margin: 0 auto;
  padding: 50px 0; }
  .header .h1 {
    text-align: center; }
  .header .p {
    margin-top: 30px;
    text-align: justify; }

.fonts__wrap {
  width: 1px;
  height: 1px;
  overflow: hidden; }

.app {
  background-color: #ebebed; }

.wrap {
  max-width: 1000px;
  margin: 0 auto; }

.loading__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.art__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px; }

.canvas__wrap {
  position: relative; }

.canvas {
  border: 50px solid #000000;
  box-shadow: inset 0px 0px 30px 12px rgba(0, 0, 0, 0.3), 0px 3px 15px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff; }

.add-button__wrap {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .add-button__wrap button {
    background-color: #000000;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 50px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    box-shadow: -1px 0px 1px 1px rgba(0, 0, 0, 0.3);
    font-family: "Gudea", sans-serif; }

.modal-title {
  font-family: "Gudea", sans-serif; }

.modal-body {
  font-family: "Gudea", sans-serif; }
  .modal-body .form-control {
    font-family: "Gudea", sans-serif; }
  .modal-body button {
    background-color: #000000;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 50px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: "Gudea", sans-serif; }

.footer {
  position: relative; }

.floor-img {
  width: 100vw; }

.copyright__wrap {
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%; }
  .copyright__wrap a {
    text-decoration: underline;
    color: #ffffff;
    font-weight: 700; }

@media (max-width: 999px) {
  .header {
    max-width: 300px; }
  .canvas {
    border-width: 17px;
    box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.3), 0px 2px 7px 2px rgba(0, 0, 0, 0.3); }
  .add-button__wrap button {
    padding: 10px 20px;
    height: initial;
    font-size: 14px; }
  .copyright__wrap {
    bottom: 2vw; } }
