@font-face {
  font-family: Font_0;
  src: url("./assets/fonts/Font_0.ttf");
}

@font-face {
  font-family: Font_1;
  src: url("./assets/fonts/Font_1.ttf");
}

@font-face {
  font-family: Font_2;
  src: url("./assets/fonts/Font_2.ttf");
}

@font-face {
  font-family: Font_3;
  src: url("./assets/fonts/Font_3.ttf");
}

@font-face {
  font-family: Font_4;
  src: url("./assets/fonts/Font_4.ttf");
}

@font-face {
  font-family: Font_5;
  src: url("./assets/fonts/Font_5.ttf");
}

@font-face {
  font-family: Font_6;
  src: url("./assets/fonts/Font_6.ttf");
}

@font-face {
  font-family: Font_7;
  src: url("./assets/fonts/Font_7.ttf");
}

@font-face {
  font-family: Font_8;
  src: url("./assets/fonts/Font_8.ttf");
}

@font-face {
  font-family: Font_9;
  src: url("./assets/fonts/Font_9.ttf");
}

@font-face {
  font-family: Font_10;
  src: url("./assets/fonts/Font_10.ttf");
}

@font-face {
  font-family: Font_11;
  src: url("./assets/fonts/Font_11.ttf");
}

@font-face {
  font-family: Font_12;
  src: url("./assets/fonts/Font_12.ttf");
}

@font-face {
  font-family: Font_13;
  src: url("./assets/fonts/Font_13.ttf");
}

@font-face {
  font-family: Font_14;
  src: url("./assets/fonts/Font_14.ttf");
}

@font-face {
  font-family: Font_15;
  src: url("./assets/fonts/Font_15.ttf");
}

@font-face {
  font-family: Font_16;
  src: url("./assets/fonts/Font_16.ttf");
}

@font-face {
  font-family: Font_17;
  src: url("./assets/fonts/Font_17.ttf");
}

@font-face {
  font-family: Font_18;
  src: url("./assets/fonts/Font_18.ttf");
}

@font-face {
  font-family: Font_19;
  src: url("./assets/fonts/Font_19.ttf");
}

@font-face {
  font-family: Font_20;
  src: url("./assets/fonts/Font_20.ttf");
}

@font-face {
  font-family: Font_21;
  src: url("./assets/fonts/Font_21.ttf");
}

@font-face {
  font-family: Font_22;
  src: url("./assets/fonts/Font_22.ttf");
}

@font-face {
  font-family: Font_23;
  src: url("./assets/fonts/Font_23.ttf");
}

@font-face {
  font-family: Font_24;
  src: url("./assets/fonts/Font_24.ttf");
}

.font0 {
  font-family: Font_0;
}

.font1 {
  font-family: Font_1;
}

.font2 {
  font-family: Font_2;
}

.font3 {
  font-family: Font_3;
}

.font4 {
  font-family: Font_4;
}

.font5 {
  font-family: Font_5;
}

.font6 {
  font-family: Font_6;
}

.font7 {
  font-family: Font_7;
}

.font8 {
  font-family: Font_8;
}

.font9 {
  font-family: Font_9;
}

.font10 {
  font-family: Font_10;
}

.font11 {
  font-family: Font_11;
}

.font12 {
  font-family: Font_12;
}

.font13 {
  font-family: Font_13;
}

.font14 {
  font-family: Font_14;
}

.font15 {
  font-family: Font_15;
}

.font16 {
  font-family: Font_16;
}

.font17 {
  font-family: Font_17;
}

.font18 {
  font-family: Font_18;
}

.font19 {
  font-family: Font_19;
}

.font20 {
  font-family: Font_20;
}

.font21 {
  font-family: Font_21;
}

.font22 {
  font-family: Font_22;
}

.font23 {
  font-family: Font_23;
}

.font24 {
  font-family: font_24;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p,
a,
.a {
  font-family: "Gudea", sans-serif;
  color: $text-color;
}

h1,
.h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.h4 {
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 16px;
}
