@font-face {
  font-family: Font_0;
  src: url("./assets/fonts/Font_0.ttf");
}

@font-face {
  font-family: Font_1;
  src: url("./assets/fonts/Font_1.ttf");
}

@font-face {
  font-family: Font_2;
  src: url("./assets/fonts/Font_2.ttf");
}

@font-face {
  font-family: Font_3;
  src: url("./assets/fonts/Font_3.ttf");
}

@font-face {
  font-family: Font_4;
  src: url("./assets/fonts/Font_4.ttf");
}

@font-face {
  font-family: Font_5;
  src: url("./assets/fonts/Font_5.ttf");
}

@font-face {
  font-family: Font_6;
  src: url("./assets/fonts/Font_6.ttf");
}

@font-face {
  font-family: Font_7;
  src: url("./assets/fonts/Font_7.ttf");
}

@font-face {
  font-family: Font_8;
  src: url("./assets/fonts/Font_8.ttf");
}

@font-face {
  font-family: Font_9;
  src: url("./assets/fonts/Font_9.ttf");
}

@font-face {
  font-family: Font_10;
  src: url("./assets/fonts/Font_10.ttf");
}

@font-face {
  font-family: Font_11;
  src: url("./assets/fonts/Font_11.ttf");
}

@font-face {
  font-family: Font_12;
  src: url("./assets/fonts/Font_12.ttf");
}

@font-face {
  font-family: Font_13;
  src: url("./assets/fonts/Font_13.ttf");
}

@font-face {
  font-family: Font_14;
  src: url("./assets/fonts/Font_14.ttf");
}

@font-face {
  font-family: Font_15;
  src: url("./assets/fonts/Font_15.ttf");
}

@font-face {
  font-family: Font_16;
  src: url("./assets/fonts/Font_16.ttf");
}

@font-face {
  font-family: Font_17;
  src: url("./assets/fonts/Font_17.ttf");
}

@font-face {
  font-family: Font_18;
  src: url("./assets/fonts/Font_18.ttf");
}

@font-face {
  font-family: Font_19;
  src: url("./assets/fonts/Font_19.ttf");
}

@font-face {
  font-family: Font_20;
  src: url("./assets/fonts/Font_20.ttf");
}

@font-face {
  font-family: Font_21;
  src: url("./assets/fonts/Font_21.ttf");
}

@font-face {
  font-family: Font_22;
  src: url("./assets/fonts/Font_22.ttf");
}

@font-face {
  font-family: Font_23;
  src: url("./assets/fonts/Font_23.ttf");
}

@font-face {
  font-family: Font_24;
  src: url("./assets/fonts/Font_24.ttf");
}

@font-face {
  font-family: Font_25;
  src: url("./assets/fonts/Font_25.ttf");
}

@font-face {
  font-family: Font_26;
  src: url("./assets/fonts/Font_26.ttf");
}

@font-face {
  font-family: Font_27;
  src: url("./assets/fonts/Font_27.ttf");
}

@font-face {
  font-family: Font_28;
  src: url("./assets/fonts/Font_28.ttf");
}

@font-face {
  font-family: Font_29;
  src: url("./assets/fonts/Font_29.ttf");
}

@font-face {
  font-family: Font_30;
  src: url("./assets/fonts/Font_30.ttf");
}

@font-face {
  font-family: Font_31;
  src: url("./assets/fonts/Font_31.ttf");
}

@font-face {
  font-family: Font_32;
  src: url("./assets/fonts/Font_32.ttf");
}

@font-face {
  font-family: Font_33;
  src: url("./assets/fonts/Font_33.ttf");
}

@font-face {
  font-family: Font_34;
  src: url("./assets/fonts/Font_34.ttf");
}

@font-face {
  font-family: Font_35;
  src: url("./assets/fonts/Font_35.ttf");
}

@font-face {
  font-family: Font_36;
  src: url("./assets/fonts/Font_36.ttf");
}

@font-face {
  font-family: Font_37;
  src: url("./assets/fonts/Font_37.ttf");
}

@font-face {
  font-family: Font_38;
  src: url("./assets/fonts/Font_38.ttf");
}

@font-face {
  font-family: Font_39;
  src: url("./assets/fonts/Font_39.ttf");
}

@font-face {
  font-family: Font_40;
  src: url("./assets/fonts/Font_40.ttf");
}

@font-face {
  font-family: Font_41;
  src: url("./assets/fonts/Font_41.ttf");
}

@font-face {
  font-family: Font_42;
  src: url("./assets/fonts/Font_42.ttf");
}

@font-face {
  font-family: Font_43;
  src: url("./assets/fonts/Font_43.ttf");
}

@font-face {
  font-family: Font_44;
  src: url("./assets/fonts/Font_44.ttf");
}

@font-face {
  font-family: Font_45;
  src: url("./assets/fonts/Font_45.ttf");
}

@font-face {
  font-family: Font_46;
  src: url("./assets/fonts/Font_46.ttf");
}

@font-face {
  font-family: Font_47;
  src: url("./assets/fonts/Font_47.ttf");
}

@font-face {
  font-family: Font_48;
  src: url("./assets/fonts/Font_48.ttf");
}

@font-face {
  font-family: Font_49;
  src: url("./assets/fonts/Font_49.ttf");
}

.font0 {
  font-family: Font_0;
}

.font1 {
  font-family: Font_1;
}

.font2 {
  font-family: Font_2;
}

.font3 {
  font-family: Font_3;
}

.font4 {
  font-family: Font_4;
}

.font5 {
  font-family: Font_5;
}

.font6 {
  font-family: Font_6;
}

.font7 {
  font-family: Font_7;
}

.font8 {
  font-family: Font_8;
}

.font9 {
  font-family: Font_9;
}

.font10 {
  font-family: Font_10;
}

.font11 {
  font-family: Font_11;
}

.font12 {
  font-family: Font_12;
}

.font13 {
  font-family: Font_13;
}

.font14 {
  font-family: Font_14;
}

.font15 {
  font-family: Font_15;
}

.font16 {
  font-family: Font_16;
}

.font17 {
  font-family: Font_17;
}

.font18 {
  font-family: Font_18;
}

.font19 {
  font-family: Font_19;
}

.font20 {
  font-family: Font_20;
}

.font21 {
  font-family: Font_21;
}

.font22 {
  font-family: Font_22;
}

.font23 {
  font-family: Font_23;
}

.font24 {
  font-family: Font_24;
}

.font25 {
  font-family: Font_25;
}

.font26 {
  font-family: Font_26;
}

.font27 {
  font-family: Font_27;
}

.font28 {
  font-family: Font_28;
}

.font29 {
  font-family: Font_29;
}

.font30 {
  font-family: Font_30;
}

.font31 {
  font-family: Font_31;
}

.font32 {
  font-family: Font_32;
}

.font33 {
  font-family: Font_33;
}

.font34 {
  font-family: Font_34;
}

.font35 {
  font-family: Font_35;
}

.font36 {
  font-family: Font_36;
}

.font37 {
  font-family: Font_37;
}

.font38 {
  font-family: font_38;
}

.font39 {
  font-family: Font_39;
}

.font40 {
  font-family: Font_40;
}

.font41 {
  font-family: Font_41;
}

.font42 {
  font-family: Font_42;
}

.font43 {
  font-family: Font_43;
}

.font44 {
  font-family: Font_44;
}

.font45 {
  font-family: Font_45;
}

.font46 {
  font-family: Font_46;
}

.font47 {
  font-family: Font_47;
}

.font48 {
  font-family: Font_48;
}

.font49 {
  font-family: Font_49;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p,
a,
.a {
  font-family: "Gudea", sans-serif;
  color: $text-color;
}

h1,
.h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.h4 {
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 16px;
}

@media (max-width: 999px) {
  h1,
  .h1 {
    font-size: 24px;
    line-height: 24px;
  }

  h6,
  .h6 {
    font-size: 10px;
  }

  p {
    line-height: 20px;
    font-size: 12px;
  }
}
