// HEADER:
.header {
  max-width: 350px;
  margin: 0 auto;

  padding: 50px 0;

  .h1 {
    text-align: center;
  }

  .p {
    margin-top: 30px;
    text-align: justify;
  }
}

// FONTS SAMPLER:

.fonts__wrap {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// WRAPPERS:

.desktop {
  &__app {
    background-color: $semi-white;
  }
}

.mobile {
  &__app {
    display: none;
    text-align: center;
    padding-top: 100px;
  }
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.loading__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// FRAME AND CANVAS:

.art {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 100px;
  }
}

.canvas__wrap {
  position: relative;
}

.canvas {
  border: 50px solid $black;
  box-shadow: inset 0px 0px 30px 12px rgba(0, 0, 0, 0.3),
    0px 3px 15px 5px rgba(0, 0, 0, 0.3);
  background-color: $white;
}

.add-button {
  &__wrap {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: $black;
      border-radius: 0;
      text-transform: uppercase;
      padding: 10px 50px;
      height: 50px;
      font-weight: 700;
      letter-spacing: 3px;
      box-shadow: -1px 0px 1px 1px rgba(0, 0, 0, 0.3);
      font-family: "Gudea", sans-serif;
    }
  }
}

// MODAL:

.modal-title {
  font-family: "Gudea", sans-serif;
}

.modal-body {
  font-family: "Gudea", sans-serif;

  .form-control {
    font-family: "Gudea", sans-serif;
  }
  button {
    background-color: $black;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 50px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: "Gudea", sans-serif;
  }
}

// FOOTER:

.footer {
  position: relative;
}

.floor-img {
  width: 100vw;
}

.copyright {
  &__wrap {
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 100%;

    a {
      text-decoration: underline;
      color: $white;
      font-weight: 700;
    }
  }
}

// MEDIA QUERIES:

@media (max-width: 999px) {
  .desktop {
    &__app {
      //transform: scale(0.5);
      //display: none;
    }
  }

  .header {
    max-width: 300px;
  }

  .canvas {
    border-width: 12px;
    box-shadow: inset 0px 0px 15px 6px rgba(0, 0, 0, 0.3),
      0px 2px 7px 2px rgba(0, 0, 0, 0.3);
  }

  .add-button {
    &__wrap {
      button {
        padding: 10px 20px;
        height: initial;
        font-size: 14px;
      }
    }
  }

  .footer {
    //position: absolute;
    //bottom: 0;
  }

  .copyright {
    &__wrap {
      bottom: 2vw;
    }
  }

  .mobile {
    &__app {
      //display: block;
    }
  }
}
